<%- include('partials/_headers')-%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation')-%>

  <!-- Page Header -->
  <%- include('partials/_page-header')-%>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 class="section-heading text-center mb-5 mt-5"><%= post.title %> </h2>
          <p><%= post.detail %></p>
          <hr class="col-5 mt-5">
          <div style="margin-bottom: -60px;">
            <a href="/posts/edit/<%= post._id %>" class="btn btn-primary" style=" margin-top: 50px;" type="submit">EDIT POST</a>
            <a href="/posts/<%= post._id %>?_method=DELETE" class="btn btn-danger" style="margin-top: 50px; margin-left: 30px;" onclick="return confirm('Silmek istediğinizden emin misiniz?')">DELETE POST</a>
          </div>
          <p class="text-right text-info"><%= new Date(post.dateCreated).toLocaleString() %> </p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer')-%>

</body>

</html>
